#made-by {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 3px;
	font-size: 10px;
	margin: 0;
	font-family: 'Comic Sans MS';
}
  
pre {
	white-space: pre-wrap;
}
.info {
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align:center;
}

i {
	margin-left: 10px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  display: block;
  top: 0;
  width: 100%;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: absolute;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#logout{
	float: right;
	background-color: #5f5f5f;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 10px;
	height: 20px;
	padding: 10px;
	vertical-align: middle;
	font-size: 18px;
	margin-top: auto;
	margin-bottom: auto;
	display: table;
	color: white;
	cursor: pointer;
	height: auto;
}

.navbar .active{
  background-color: #a0b28e;
  color: white;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  border: solid 1px black;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #7edb59;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.content{
	display: none;
	margin-top: 30px;
}

.content.active{
	display: block;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	text-align: center;
}

/****************REPORTS*****************/
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
}
.wrapper div.content{
	display: inline-grid;
	margin: 10px;
	background: #F0F0F0;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	text-align: left;

}
.wrapper div.inner-wrap{
	background: #F8F8F8;
	border-radius: 6px;
	margin: 0px 2% 2% 2%;
}
.wrapper div.inner-wrap h2{
	font: normal 20px 'Bitter', serif;
	color: #00000;
	margin-bottom: 5px;
}
.wrapper div.content h1{
	background: #a0b28e;
	padding: 2%;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #a0b28e;
	text-align: center;
}
.wrapper div.content p{
	position: relative;
	left: 5%;
  	font-size: 20px;
}
.wrapper div.content span.title{
	font-weight: bold;
}
.wrapper div.content form{
	text-align:center;
	background: transparent;
	border: 0;
	padding: 0px;
}
.row{
	display: block;
}
.extensible button{
   padding-top: 5px;
   padding-bottom: 5px;
   margin-left: 10px;
   margin-top: 10px;
}
