.form{
  width: 90%;
  margin-top: 50px;
}
.risultato-ricerca-edificio > div p,strong,.edificio-selezionato > div p,strong {
    display: inline-flex;
    margin-top: 2px;
    margin-bottom: 2px;
}
.risultato-ricerca-edificio > div strong,.edificio-selezionato > div strong{
    margin-right: 3px;
}
#dati-pratica{
    display: none;
}
#mappali > div,#subalterni > div{
    display: flex;
}
.box-risultati{
	display: grid;
    grid-template-columns: auto auto auto auto auto;
	border: solid 1px black;
	border-radius: 20px;
	min-height: 10%;
	max-height: 40%;
	margin: 5px;
    padding: 10px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre-line;
}
.risultato-ricerca-edificio:hover{
    text-decoration: underline;
    color: green;
}
.edificio-selezionato:hover{
    text-decoration: underline;
    color: red;
}
.centered{
	text-align: center;
}
#bottoni-utili *{
	display: inline-flex;
	margin-right: 10px;
}
.mappale, .subalterno{
	width: 40% !important;
	display: inline-flex !important;
}
.intestatarioPersona, .intestatarioSocieta{
	width: 50% !important;
	display: inline-flex !important;
}
.delete-button{
	display: inline-flex !important;
	background-color: red !important;
}
input[type=checkbox] {
	width: 20px;
	height: 20px;
}
