.box-risultati {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

.risultato-pratica {
	cursor: crosshair;
}

.hidden, #main-div, #inserimento-imponibile {
	display: none;
}