body{
  padding: 0px 2% 0px 2%;
}

p{
  font-size: 1.3em;
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
}

p > span{
  font-weight: bold;
}

a, a:visited{
	font-style: italic;
	text-decoration: none;
	color: black;
}

#intestazione{
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 1% 10% 0px 10%;
}

#titoli{
  text-align: center;
}

#titoli *{
  margin: 0px;
  padding-top: 10px;
}

#logo{
    height: 100%;
    width: 100%;
}

#generalita{
    padding: 10px 5% 10px 5%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 5%;
    grid-row-gap: 10px;
    text-align: left;
}

#intestatari, #pe, #tec, #condoni, #rubriche, #intestatari{
    padding: 10px 5% 0px 5%;
    margin-bottom: 10px;
}

#pe > div, #tec > div, #condoni > div, #rubriche > div, #intestatari > div{
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-bottom: dotted black 1px;
}
